{# PageMetaData Partial: rendert Head-Meta-Infos via Blocks. #}

<title>{% block title %}{{ itemData.texts.title | default(ItemName.get(itemData | itemName(webstoreConfig.urlTitleItemName - 1, ""), itemData.variation.bundleType)) }}{% endblock %}</title>

<meta name="description" content="{% block description %}{{ itemData.texts.metaDescription | default('') }}{% endblock %}" />
<meta name="keywords" content="{% block keywords %}{{ itemData.texts.keywords | default('') }}{% endblock %}" />

<meta property="og:title" content="{% block title %}{{ itemData.texts.title | default('') }}{% endblock %}" />
<meta property="og:description" content="{% block description %}{{ itemData.texts.metaDescription | default('') }}{% endblock %}" />
<meta property="og:image" content="{% block image %}{{ itemData.images.all[0].url | default('') }}{% endblock %}" />
<meta name="twitter:card" content="summary_large_image" />

<meta name="robots" content="{% block robots %}{{ robots | default('index,follow') }}{% endblock %}" />

{% block schemaOrg %}{% endblock %}
